@font-face {
  font-family: 'NPSfontBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'NPSfontBold', ui-sans-serif, system-ui;
    box-sizing: border-box;
    color: #5f6e76;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.2);
  min-height: 100px;
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.4);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
